*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 65em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.25 em;
  background: var(--clr-accent, blue);
  color: var(clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1234rem;
  border-radius: 0.25em;
}
